{
    "extends": ["airbnb"],
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "plugins": ["chai-friendly"],
    "globals": {
        "expect": true,
        "sinon": true
    },
    "rules": {
        "indent": [2, 4],
        "comma-dangle": [2, "always-multiline"],
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2
    }
}
